.title-container {
  overflow: hidden;
  margin-top: 2px;
  margin-bottom: 30px;
  height: auto;

 
}

.title-container h1 {
  font-size: 50px;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   color: #1E5D39

}
