.page {
  height: 100vh;
  padding-top: 96px;
  padding-left: 20px;
  padding-right: 20px;
  color: #333;
  background-color: #ffb996;
  width: 100vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
  
}



@media screen and (max-width: 768px) {
  .container {
    padding: 0 10px; /* Adjust padding for smaller screens */
  }
}

.home {
  
 
  font-family: 'Times New Roman', Times, serif;
 background-image: url("../image//BG13.png");
 background-size:cover;
  background-position: center;
  width: 100%;
  height: 96vh;


}

.products {
  background-color: #ffb996;
}

.about {

  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  position: absolute;
  color: #ffffff;
  font-family: 'Times New Roman', Times, serif;
 background-image: url("../image//aboutmeBG.png");
 background-size:cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  padding-bottom: 2rem;
  

}
.register{
 

    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    position: absolute;
    
  
  }


.contact {

  font-family: 'Times New Roman', Times, serif;
  background-image: url("../image//BG14.jpg");
  background-size:cover;
   background-position: center;
   width: 100%;
   height: 100vh;
   padding-bottom: 2rem;
   color: white;
}

.education {
 
  font-family: 'Times New Roman', Times, serif;
  font-family: 'Times New Roman', Times, serif;
  background-image: url("../image//BG16.jpg");
  background-size:cover;
   background-position: center;
   width: 100%;
   height: 100vh;
   padding-bottom: 2rem;
}

  

.upload{
  background-color: #81ff85;
  font-family: 'Times New Roman', Times, serif;
}

/** Products page */
.product-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/** Contact page */
.slide {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #0f0f0f;
}

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}
.publication{
  overflow-y:scroll;
  font-family: 'Times New Roman', Times, serif;

  flex: 1;
  justify-content:center;
  margin: auto;/* Center the container horizontally */
  display: flex;
  flex-direction: column;
  padding-top: 6%;

}
.API{
  overflow-y:visible;
  font-family: 'Times New Roman', Times, serif;

  flex: 1;
  justify-content:center;
  margin: auto;/* Center the container horizontally */
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  padding-top: 8%;
  font-size: calc(4px + 2vmin);
  background-image: url("../image//BG17.jpg");
  background-size:cover;
   background-position: center;
   width: 100%;
   height: 100vh;
   padding-bottom: 2rem;
}

.signup-form{
  margin: auto;/* Center the container horizontally */
  height: 1px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  padding-top: 1%;
  font-size: calc(4px + 2vmin);


}
.form-label{
  font-size:10px;
}


.publication-form{
 
  overflow-y:visible;
  font-family:cursive;

  justify-content:center;
  margin: auto;/* Center the container horizontally */
  height: 100%;
  box-sizing: border-box;
 

  
 

  

}
.files-form{
  margin: auto;/* Center the container horizontally */
  height: 1px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  padding-top: 1%;

  font-size: calc(4px + 2vmin);

}
.upload-Form{
  margin: auto;/* Center the container horizontally */
  height: 0px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;




}
.label{
  font-size: 2px;
}
.col-19{
  margin: auto;/* Center the container horizontally */
  height: 80px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

width: 100%;
  
}

.form-control{
  width: 100%;
  font-size: calc(5px + 1vmin);


}
.regform{
  margin: auto;/* Center the container horizontally */
  height: 80px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column; 
  padding-top: 20%;
}



.upload{
  color:rgb(0, 0, 0);
  background-color: #81ff85;
  overflow-y: 1;
  box-sizing: border-box;

}


.image-container {
  flex: 1;
  height: 100%;
  padding-left: 50px;
  padding-bottom: 30px;
  padding-top: 0%;
}
.text-container {
  flex: 2;
  align-items: center;
  width: 50%;
  text-align: justify;
  font-size: 18;
}
.image-container1{
  flex: 1;
  height: 100%;
  width: 50%;
  padding-bottom: 20px;
  padding-left: 100px;
}
.text-container1{
  flex: 2;
  align-items: center;
  width: 50%; 
  text-align: justify;
  text-indent: 0%;
  margin-bottom: 20px;
  color: azure;
}

.round-container {
  border-radius: 20%; /* Create a round shape */
  flex: 1;
  height: auto;
  width: 100%;
  padding-bottom: 20px;
  padding-left: 100px;
  padding-top: 60px;
  
}
 



.container-login {
  padding-left:5rem;
  padding-bottom: 2rem;
  background-image: url("../image/BG13.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw; /* Set the width to 100% of viewport width */
  height: 100vh; /* Set the height to 100% of viewport height */
  color: rgb(0, 0, 0);
}


.login-form {
  background-color: #000000;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px #f5eeee;
  width: 300px; /* Adjust the width of the form as needed */
  margin: 0 auto; /* Set left and right margin to auto to center the form horizontally */
 
}



.login-form input {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 5px;
}

.buttons {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #1e0101;
  cursor: pointer;
}

.buttons:hover {
  background-color: #0056b3;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.sidebar {
  height: 100%;
  width: 250px;
  background-color: #1b0f0f;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidebar h2 {
  color: #fff;
  text-align: center;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  padding: 10px;
}

.sidebar ul li a {
  color: #fff;
  text-decoration: none;
}

.sidebar ul li a:hover {
  color: #ccc;
}

.content {
padding-left: 400px;

  
}

.content h2 {
  color: #ff0000;
  font-family: cursive;
   margin-bottom: 20px;
}

.content p {
  color: #666;
  line-height: 1.5;
}

.dashboard {
  background-color: #007bff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../image//BG18.gif");
  font-family: cursive;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw; /* Set the width to 100% of viewport width */
  height: 100vh; /* Set the height to 100% of viewport height */

}

