.navbar {
  padding: 50px;
  position: fixed;
  top: 0; /* Align to the top of the screen */
  right: 0; /* Align to the right side of the screen */
  z-index: 100;
  background-color: transparent;
  flex: 1;


  
}

.navbar ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
}

.navbar a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .content {
    display: flex;
    justify-content: space-between;
  }
}