.navbar {
  padding: 50px;
  position: fixed;
  top: 0; /* Align to the top of the screen */
  left: 0; /* Align to the right side of the screen */
  z-index: 100;
  background-color: transparent;
  flex: 1;
  


  
}

.navbar ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 40px;
  color: black;

}

.navbar a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bolder;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 font-size: 25;

}

@media screen and (min-width: 768px) {
  .content {
    display: flex;
    justify-content: space-between;
  }
}
.dropdown-nav{
  background-color:transparent;
 border: none;
 
}

.navbar h2{
  color: rgb(255, 255, 255);
  padding-bottom: 35px;

  margin: auto;
}