.App {
  text-align: center;
}

.App-logo {
  height: 50vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #0f083c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(37, 255, 13);
}

.App-link {
  color: #f0e6e6;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.background-container {
  background-image: url('./parralax.jpg'); 
  background-size: cover; /* Cover the entire container */
  background-position: center; /* Center the background image */
  height: 100vh; /* Adjust height as needed */
  background-color: rgb(9, 98, 29);
  /* Add any other styling you need for your component */
}
.navbar {

  background-color: #611e1e;
  padding: 5px;
}

.contact{
  color:aquaS;

}
