.App {
  text-align: center;
 

}

.App-logo {
  height: 50vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #4e36ef;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(37, 255, 13);
  
}

.App-link {
  color: #f0e6e6;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




.labelSearach{
  background-color: #c809ee;
  width: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
}
.carouselpics{
  width: 800;
  align-items: center;
  justify-content: center;
  place-items: center;
 
}
.info{
  
  width: 900;
   font-family: 'Canela';
    text-wrap: stable;
    text-align: justify;
    text-transform: initial;

  
 text-align: calc();
  font-size: calc(13px + 0vmin);

  height: 39vh; /* Optionally, to center vertically */
  

}
h3
{
  font-family: 'Canela';
    text-transform: none;
}


.form-control{
 
  margin: 0%;/* Center the container horizontally */
  height: auto;
  border: none;
  border-radius:5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-size: calc(4px + 1vmin);
  font-size: 1.25rem;

}
 .input{
    background-color: transparent;
    border: none;
    height: 100%;
    font-size: 1.25rem;
    width: 100%;
    margin-left: 5px;
}

.Home{
  background-color: transparent;
  height: 70vh;
  width: 80vw;
}
.searchbar-container{
  padding-top: 10vh ;
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
}

.container {
  display: flex;
  flex-wrap: wrap; /* Enable wrapping */
}

.flex-item {
  flex: 1; /* Flexible to grow and shrink equally */
  min-width: 200px; /* Minimum width */
  margin: 10px;
  background-color: #ccc;
  text-align: center;
}
.App {
  position: relative;
}

